 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a senior cyberphysical researcher at G2, Inc. My
                    main research interests are in energy-efficient smart
                    buildings, ubiquitous computing, embedded systems,
                    networking, and distributed systems.</p>
                </div>
                <div class="col-lg-4">
                    <p>I earned by BE in Computer Engineering from Vanderbilt University and my MS and
                    PhD in Computer Science from the University of Virginia.
                    Prior to joining G2, I was a computer scientist at the U.S.
                    Army Research Laboratory (2012-2014).</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Curriculum Vitae
                    </a>
                </div>
                </div> 
        </div>
    </section>